blockquote {
  max-width: 20%;
  position: relative;
}

.navigation {
  text-align:justify;
}

.container {
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.col-md-4 {
  margin-right: 1%;
  margin-left: 2%;
  width: 30%;
  align-items: center;
}

.row {
  margin-right: 0px;
  margin-left: -15px;
}

.col-md-4 img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
